* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
    font-size: 12px;
}

.menu {
    list-style: none;
    border: 1px solid black;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid black;
}

.menu li a {
    color: red;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover{
    background: #666666;
    color: white;
    -moz-box-shadow: 0 10px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    text-shadow: 0 0 5px #ffffff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background: gray;
    display: none;
}

.menu li:hover ul,
.manu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid blue;
    display: block;
    width: 150px;
}