* {
    margin: 1rem 2rem;
}

body {
    background-color: #A5DBEB;
    font-family: Arial, serif;
}

#tituloprincipal {
    font-size: 2rem;
    color: #CC2020FF;
}

.texto {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: .2rem solid black;
}

#encerramento {
    font-size: 2rem;
    font-style: italic;
    background-color: grey;
}

